.category-list {
    list-style-type: none;
    align-items: center;
}
.category-list ul a{
    display: inline-block;
    text-decoration: none;
    float: left;
    margin-right: 60px;
    cursor: pointer;
}
