.app-header {
    background: salmon;
    left: 0;
    top: 0;
    right: 0;
    position: fixed;
}
.app-header .menu-bar {
    list-style-type: none;
}
.app-header .menu-bar li {
    float: left;
}
.app-header .menu-bar li a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    border-bottom: 3px solid transparent;
}
.app-header .menu-bar li a:hover {
    color: yellow;
    border-bottom: 3px solid yellow;
}
.app-body {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100px;
}